<div class="container">
  <div class="content">

    <h4>Your Details</h4>
    <form action="/users/<%=@user.id%>" method="post">
    <input type="hidden" name="_method" value="patch">

      <strong>NAME</strong> <br>
      <input type="text" name="user[name]" value="<%= @user.name %>"><br><br>

      <strong>BIRTHDAY</strong> <br>
      <input type="text" name="user[birthday]" value="<%= @user.birthday %>"><br><br>

      <strong>EMAIL</strong> <br>
      <input type="text" name="user[email]" value="<%= @user.email %>"><br><br>

      <button type="submit">EDIT PROFILE</button>
    </form><br><br>
    </div>
  </div>
  <%= erb :_footer %>
</div>