<%= erb :_header %>

<div id="container">

<h4>Your Details</h4>
<table id="profile_stats">
  <td>NAME</td><td><%= @user.name %></td></tr>
  <td>BIRTHDAY</td><td><%= @user.birthday %></td></tr>
  <td>EMAIL</td><td><%= @user.email %></td></tr>
</table><br>


<form action="/users/<%=@user.id%>/edit" method="get">
  <button type="submit">EDIT PROFILE</button>
</form><br><br>

<form action="/surveys/new" method="get">
  <button type="submit">CREATE NEW SURVEY</button>
</form><br><br>

<form action="/users/<%=@user.id%>/delete" method="get">
  <input type="submit" value="DELETE PROFILE">
</form>



<h4>Surveys I Wrote--NEED TO CHECK LINKS WHEN SURVEY VIEW IS COMPLETE</h4>
<% @surveys.each do |survey| %>
<a href="/surveys/<%=survey.id%>"><%= survey.name %></a><br>
<% end %>

<h4>Surveys I Took--NEED TO CHECK LINKS WHEN SURVEY VIEW IS COMPLETE</h4>
<em>Avi and Alan removed this non-working bit (which was a placeholder anyway).</em>



<%= erb :_footer %>
</div>

<style type="text/css">
  #container {
    margin-left: 50px;
  }

  #profile_stats td:first-child {
    width: 150px;
  }

</style>
