<div class="container">
<h2>Survey Results</h2>
<h2>Name:  <%= @survey.name%></h2>
<br>
<% questions = Question.where(survey_id: @survey.id ) %>
  <% questions.each do |question| %>
   <ul>Question:  <%= question.prompt  %></ul>
    <% question.choices.each do |choice| %>
    <li><%= @results_hash[choice.id] %>: <%= choice.label %> </li>
    <% end %>
    <%= pie_chart(question.prepare_chart(@results_hash)) %>
  <% end %>
</div>
